@import "../../variable";

// Home


// map
.map--wrap {
    width: 100% !important;
    height: 90% !important;
    overflow: hidden;

    // Styling the sidebar
    &__sidebar__container {
        width: 25% !important;
        height: 100% !important;
        background-color: white;

        &__content {
            width: 100% !important;
            height: 100% !important;

            & .sidebar__first--tab {
                width: 100%;
                height: 100%;

                &__search--route {
                    width: 100%;
                    height: 100%;

                    &__content {
                        width: 100%;
                        height: 100%;

                        &__search--field {
                            background-color: rgba(0, 0, 0, 0.05);
                            display: flex;
                            align-items: center;
                            padding: 0 5%;
                            width: 100%;
                            height: 6%;
                            margin-bottom: 10%;
                            border-radius: 10px;

                            & input {
                                background-color: transparent;
                                width: 100%;
                                height: 70%;
                                border: none;

                                &:focus {
                                    outline: none;
                                }
                            }
                        }

                        &__routes {
                            width: 100%;
                            height: 85%;
                            overflow-y: scroll;

                            &::-webkit-scrollbar {
                                width: 0.3vw;
                            }

                            &:hover {
                                &::-webkit-scrollbar {
                                    width: 0.3vw;
                                }

                                &::-webkit-scrollbar-thumb {
                                    background-color: #10af7e;
                                }

                                &::-webkit-scrollbar-track {
                                    background-color: white;
                                }
                            }

                            & ul {
                                width: 100%;
                                height: 100%;

                                & li {
                                    background-color: rgba(0, 0, 0, 0.05);
                                    border-radius: 20px;
                                    width: 96%;
                                    height: 20%;
                                    margin: 0 4% 5% 0;
                                    cursor: pointer;

                                    & .route-icon {
                                        display: flex;
                                        justify-content: center;
                                        width: 25%;
                                    }

                                    & .route-content {
                                        width: 70%;
                                    }
                                }
                            }
                        }
                    }
                }

            }

            & .sidebar__seconde--tab {
                width: 100%;
                height: 100%;

                &__navigate {
                    width: 100%;
                    height: 100%;

                    &__content {
                        width: 100%;
                        height: 100%;

                        &__search--field {
                            width: 100%;
                            height: 15%;
                            align-items: center;

                            & .search--start--location {
                                background-color: rgba(0, 0, 0, 0.05);
                                display: flex;
                                align-items: center;
                                padding: 0 5%;
                                margin-bottom: 1%;
                                width: 100%;
                                height: 48%;
                                border-radius: 10px;

                                & input {
                                    background-color: transparent;
                                    width: 100%;
                                    height: 70%;
                                    border: none;

                                    &:focus {
                                        outline: none;
                                    }
                                }
                            }

                            & .search--destination--location {
                                background-color: rgba(0, 0, 0, 0.05);
                                display: flex;
                                align-items: center;
                                padding: 0 5%;
                                margin-bottom: 5%;
                                width: 100%;
                                height: 48%;
                                border-radius: 10px;

                                & input {
                                    background-color: transparent;
                                    width: 100%;
                                    height: 70%;
                                    border: none;

                                    &:focus {
                                        outline: none;
                                    }
                                }

                            }
                        }

                        &__routes {
                            width: 100%;
                            height: 80%;

                            & .tab {
                                width: 100%;
                                height: 100%;
                                overflow-y: scroll;

                                &::-webkit-scrollbar {
                                    width: 0.3vw;
                                }

                                &:hover {
                                    &::-webkit-scrollbar {
                                        width: 0.3vw;
                                    }

                                    &::-webkit-scrollbar-thumb {
                                        background-color: #10af7e;
                                    }

                                    &::-webkit-scrollbar-track {
                                        background-color: white;
                                    }
                                }

                                &__avaiable--routes {
                                    width: 100%;
                                    height: 25%;
                                    background-color: rgba(0, 0, 0, 0.05);
                                    margin: 0 0 5% 0;
                                    padding: 5%;

                                }
                            }
                        }
                    }

                }
            }

            & .route--with--trip--detail {
                width: 100%;
                height: 85%;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 0.3vw;
                }

                &:hover {
                    &::-webkit-scrollbar {
                        width: 0.3vw;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #10af7e;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: white;
                    }
                }
            }
        }


        & .route--detail {
            width: 100%;
            height: 100%;

            &__return--btn {
                margin: 4% 0;
                height: 5%;
            }

            &__container {
                background-color: white;
                width: 100%;
                height: 90%;

                &__content {
                    width: 100%;
                    height: 100%;

                    & .first--tab {
                        height: 100%;
                        width: 100%;
                        padding: 10% 0% 0 0;

                        &__stations {
                            width: 100%;
                            height: 100%;
                            overflow-y: scroll;

                            &::-webkit-scrollbar {
                                width: 0.3vw;
                            }

                            &:hover {
                                &::-webkit-scrollbar {
                                    width: 0.3vw;
                                }

                                &::-webkit-scrollbar-thumb {
                                    background-color: #10af7e;
                                }

                                &::-webkit-scrollbar-track {
                                    background-color: white;
                                }
                            }
                        }
                    }

                    & .seconde--tab {
                        height: 100%;
                        width: 100%;
                        padding: 10% 0% 0 0;

                        &__information {
                            width: 100%;
                            height: 95%;
                            overflow-y: scroll;

                            &::-webkit-scrollbar {
                                width: 0.3vw;
                            }

                            &:hover {
                                &::-webkit-scrollbar {
                                    width: 0.3vw;
                                }

                                &::-webkit-scrollbar-thumb {
                                    background-color: #10af7e;
                                }

                                &::-webkit-scrollbar-track {
                                    background-color: white;
                                }
                            }
                        }
                    }

                    & .third--tab {
                        height: 100%;
                        width: 100%;
                        padding: 10% 0% 0 0;

                        &__rating {
                            width: 100%;
                            height: 95%;

                            & .rate {
                                width: 100%;
                                height: 12%;
                                margin: 0 0 5% 0;
                            }

                            & .total--rating {
                                width: 100%;
                                height: 30%;
                                margin: 0 0 5% 0;

                                &__content {
                                    height: 80%;
                                    width: 100%;

                                    &__right {
                                        width: 40%;
                                        height: 100%;
                                    }

                                    &__left {
                                        width: 40%;
                                        height: 100%;
                                    }
                                }
                            }

                            & .review--comment {
                                width: 100%;
                                height: 50%;

                                &__content {
                                    width: 100%;
                                    height: 100%;

                                    &__all--Comment {
                                        width: 100%;
                                        height: 100%;
                                        overflow-y: scroll;

                                        &::-webkit-scrollbar {
                                            width: 0.3vw;
                                        }

                                        &:hover {
                                            &::-webkit-scrollbar {
                                                width: 0.3vw;
                                            }

                                            &::-webkit-scrollbar-thumb {
                                                background-color: #10af7e;
                                            }

                                            &::-webkit-scrollbar-track {
                                                background-color: white;
                                            }
                                        }

                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    // Styling the map
    &__map {
        height: 100% !important;
        width: 75% !important;

        &__search--field {
            position: absolute !important;
            background-color: White !important;
            top: 2vh !important;
            right: 1vw !important;
            width: 50% !important;
            height: 5% !important;
            border: 1px solid lightgray !important;
            border-radius: 10px !important;
            z-index: 600 !important;

            &__content {
                width: 100%;
                height: 99%;
                padding: 1% 2%;

                & input {
                    width: 95%;
                    height: 100%;
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }

                &__search--icon {
                    width: 5%;
                    height: 100%;
                }
            }
        }
    }
}



.leaflet-control-geosearch {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 40vw;
    height: 100%;

    & input {
        border: none;
        width: 98%;
        height: 100%;

        &:focus {
            outline: none;
        }
    }

    & button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    & a {
        width: 0 !important;
        height: 0 !important;
    }
}