// footer
.footer {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    &__content {
        width: 80%;
        height: 70%;
        & .text {
            color: white;
        }

        &__secOne {
            width: 50%;
            height: 100%;
        }

        &__secTwo {
            width: 15%;
            height: 100%;

            & .text{
                cursor: pointer;
            }
        }

        &__secThree {
            width: 35%;
            height: 100%;
        }
    }

}