@import "../../variable";
.header{
    background-color: $baseColor;
    height: 10%;
    width: 100%;
    &__avatar{
        &__icon{
            font-size: $iconFontSize !important;
        }
        &__background{
            background-color: $busColor !important ;
            height: $iconFontSize + 3 !important;
            width: $iconFontSize + 3 !important;
            // transform: scale(1.2);
        }
    }
    &__wrap{
        &__title{
            font-size: 5vh !important;
            color: white;
        }
    }
}