.contact {

    // section one
    &__section--one {
        background-color: white;
        width: 100%;
        height: 40%;
        margin-bottom: 10%;
        flex-direction: row !important;
        justify-content: center;

        &__container {
            background-color: rgb(252, 249, 243);
            border-radius: 50px;
            width: 85%;
            height: 100%;
            flex-direction: row !important;
            justify-content: center;
            align-items: center;

            &__content {
                width: 100%;
                height: 100%;
                flex-direction: row !important;
                justify-content: space-between;
                align-items: center;

                & .right {
                    width: 60%;
                    height: 100%;
                    padding: 6% 0 0 8%;
                }

                & .left {
                    width: 30%;
                    height: 100%;
                    margin-top: 13%;
                }
            }
        }
    }

    // section two
    &__section--two {
        width: 100%;
        height: 30%;
        margin-bottom: 10%;
        flex-direction: row !important;
        justify-content: center;

        &__container {
            width: 80%;
            height: 100%;
            flex-direction: row !important;
            justify-content: space-between;

            &__card {
                width: 28%;
                height: 100%;
                border-radius: 50px;
                background-color: rgb(252, 249, 243) !important;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column !important;

            }
        }
    }

    // section three
    &__section--three {
        width: 100%;
        height: 100%;
        margin-bottom: 10%;
        flex-direction: row !important;
        justify-content: center;

        &__container {
            background-color: #10af7e;
            width: 90%;
            height: 100%;
            border-radius: 50px;
            flex-direction: row !important;
            justify-content: center;
            align-items: center;
            & .right {
                width: 46%;
                height: 90%;
                flex-direction: row !important;
                justify-content: center;
                align-items: center;

                &__content{
                    width: 80%;
                }
            }

            & .left {
                width: 46%;
                height: 90%;
                background-color: white;
                border-radius: 50px;
                flex-direction: column !important;
                justify-content: center;
                align-items: center;

                &__content{
                    width: 80%;
                }
            }
        }
    }
}